<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>haanh.filter.MainFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>haanh.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>haanh.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminPageInsertBook</servlet-name>
        <servlet-class>haanh.servlet.ServletAdminPageInsertBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminGetAllBooks</servlet-name>
        <servlet-class>haanh.servlet.ServletAdminGetAllBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminDeleteBook</servlet-name>
        <servlet-class>haanh.servlet.ServletAdminDeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminInsertBook</servlet-name>
        <servlet-class>haanh.servlet.ServletAdminInsertBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminViewBookDetail</servlet-name>
        <servlet-class>haanh.servlet.ServletAdminViewBookDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogOut</servlet-name>
        <servlet-class>haanh.servlet.ServletLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminUpdateBook</servlet-name>
        <servlet-class>haanh.servlet.ServletAdminUpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminUpdateBookImage</servlet-name>
        <servlet-class>haanh.servlet.ServletAdminUpdateBookImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminPageInsertBook</servlet-name>
        <url-pattern>/admin/pageInsertBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminGetAllBooks</servlet-name>
        <url-pattern>/admin/getAllBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminDeleteBook</servlet-name>
        <url-pattern>/admin/deleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminInsertBook</servlet-name>
        <url-pattern>/admin/insertBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminViewBookDetail</servlet-name>
        <url-pattern>/admin/viewBookDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminUpdateBook</servlet-name>
        <url-pattern>/admin/updateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminUpdateBookImage</servlet-name>
        <url-pattern>/admin/updateBookImage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/page-404.html</location>
    </error-page>
    <resource-ref>
        <res-ref-name>J3LP0002BookStoreDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
